/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

@font-face {
  font-family: 'Inconsolata-Regular';
  src: url('../fonts/Inconsolata/Inconsolata-Regular.ttf');
}

@font-face {
  font-family: 'Space-Mono-Regular';
  src: url('../fonts/Space_Mono/SpaceMono-Regular.ttf');
}

@font-face {
  font-family: 'Space-Mono-Bold';
  src: url('../fonts/Space_Mono/SpaceMono-Bold.ttf');
}

/* Custom CSS */
.header {
  font: normal bold 1.5rem/1.5rem 'Inconsolata-Regular';
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333333;
  margin-top: 1.25rem;
  margin-left: 1.5rem;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex--margin {
  margin-top: 4rem;
  margin-left: 1.5rem;
}

.figure {
  text-align: center;
  margin-left: 1.25rem;
  margin-right: 2.75rem;
  margin-bottom: 3.75rem;
}

.figure__scarecrow {
  width: 100%;
  height: auto;
  /* max-width: 700px; */
}

.info-section__h1 {
  font: normal 3rem/4.5rem "Space-Mono-Bold";
  letter-spacing: -0.035em;
  color: #333333;
  margin-bottom: 2rem;
}

.info-section__p {
  font: normal normal 1.125rem/1.75rem "Space-Mono-Regular";
  letter-spacing: -0.035em;
  color: #4F4F4F;
  margin-bottom: 4.125rem;
}

.button {
  font: normal 0.875rem/1.375rem "Space-Mono-Bold";
  padding: 1.5rem 2.75rem;
  letter-spacing: -0.035em;
  border: none;
}

.button--back-homepage {  
  text-transform: uppercase;
  color: #FFFFFF;
  background: #333333;
}

@media (min-width: 768px) {
  .header {
    margin-top: 2.5rem;
    margin-left: 5rem;
  }
  .figure__scarecrow {
    width: 100%;
    height: auto;
    max-width: 70%;
  }
}

@media (min-width: 1024px) {
  .flex {
    display: flex;
    flex-direction: row;
  }
  .flex--margin {
    margin-top: 12.5rem;
    margin-left: 4.75rem;
  }
  .figure {
    text-align: center;
    margin: 0;
  }
  .figure__scarecrow {
    max-width: 1300px;
  }
  .info-section {
    margin-left: 5rem;
    margin-right: 5rem;
  }
  .info-section__h1 {
    font-size: 3.25rem;
    line-height: 6rem;
    margin-bottom: 2.25rem;
  }
  .info-section__p {
    font-size: 1.5rem;
    line-height: 2.25rem;
    margin-bottom: 4rem;
  }
}

@media (min-width: 1280px) {
  .figure__scarecrow {
    max-width: 800px;
  }
  .info-section__h1 {
    font-size: 4rem;
    line-height: 6rem;
    margin-bottom: 2.25rem;
  }
  .info-section {
    margin-left: 7.5rem;
    margin-right: 7.5rem;
  }
}

@media (min-width: 1536px) {
  .flex {
    justify-content: center;
  }
}
