/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'Inconsolata-Regular';
  src: url('../fonts/Inconsolata/Inconsolata-Regular.ttf');
}

@font-face {
  font-family: 'Space-Mono-Regular';
  src: url('../fonts/Space_Mono/SpaceMono-Regular.ttf');
}

@font-face {
  font-family: 'Space-Mono-Bold';
  src: url('../fonts/Space_Mono/SpaceMono-Bold.ttf');
}

/* Custom CSS */
.header {
  font-family: 'Inconsolata-Regular';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333333;
  margin-top: 20px;
  margin-left: 24px;
}

.flex {
  display: flex;
  flex-direction: column;
}

.flex--margin {
  margin-top: 64px;
  margin-left: 24px;
}

.figure {
  text-align: center;
  margin-left: 20px;
  margin-right: 44px;
  margin-bottom: 60px;
}

.figure__scarecrow {
  width: 100%;
  height: auto;
  max-width: 700px;
}

.info-section__h1 {
  font: normal 48px/71px "Space-Mono-Bold";
  letter-spacing: -0.035em;
  color: #333333;
  margin-bottom: 30px;
}

.info-section__p {
  font: normal normal 18px/27px "Space-Mono-Regular";
  letter-spacing: -0.035em;
  color: #4F4F4F;
  margin-bottom: 66px;
}

.button {
  font: normal 14px/21px "Space-Mono-Bold";
  padding: 23px 43px;
  letter-spacing: -0.035em;
}

.button--back-homepage {  
  text-transform: uppercase;
  color: #FFFFFF;
  background: #333333;
}

@media (min-width: 768px) {
  .header {
    margin-top: 40px;
    margin-left: 77px;
  }
  .figure__scarecrow {
    width: 100%;
    height: auto;
    max-width: 600px;
  }
}

@media (min-width: 1024px) {
  .flex {
    display: flex;
    flex-direction: row;
  }
  .flex--margin {
    margin-top: 200px;
    margin-left: 77px;
  }
  .figure {
    text-align: center;
    margin: 0;
  }
  .figure__scarecrow {
    max-width: 1300px;
  }
  .info-section {
    margin-left: 80px;
    margin-right: 80px;
  }
  .info-section__h1 {
    font-size: 52px;
    line-height: 95px;
    margin-bottom: 36px;
  }
  .info-section__p {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 64px;
  }
}

@media (min-width: 1280px) {
  .figure__scarecrow {
    max-width: 800px;
  }
  .info-section__h1 {
    font-size: 64px;
    line-height: 95px;
    margin-bottom: 36px;
  }
  .info-section {
    margin-left: 120px;
    margin-right: 120px;
  }
}

@media (min-width: 1536px) {
  /* .header {
    font-size: 48px;
  } */
  .flex {
    justify-content: center;
  }
}

